:root {
  --primary-color: #2e8acb;
  --secondary-color: #002f59;
  --tertiary-color: #0dc1f2;
  --white: #ffffff;
  --gray: #333;
  --gray-light: #4e4d4d9c;
  --bg-body: #eaf0f9;
  --titles: "Encode Sans Semi Expanded", serif;
  --font: "Asap", serif;
}
@import 'tailwindcss';
html{
  background-color: var(--white);
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font);
  background-image: 
        radial-gradient(at 90% 75%, var(--white), transparent 95%),
        radial-gradient(at 90% 95%, var(--primary-color), transparent 75%);
}